on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: temurin
    - run: sbt "runMain mima.App org.scala-lang scala-library 2.13.13 2.13.14"
